<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://www.samsung.com/etc.clientlibs/samsung/clientlibs/consumer/global/clientlib-base.min.b2b46ed65d46ffd78b7dd408f6f1ed36.css"
    />
  </head>
  <body>
    <section class="section section-main">
      <div class="wrapper">
        <div class="col col-6">
          <div class="text-wrap text-padded">
            <h1 class="main-header"><%= json.mainHeader %></h1>
            <p class="main-subheader"><%= json.mainSubheader %></p>
            <div class="btns">
              <a data-omni="<%= json.omni %>:goto:survey" data-omni-type="<%= json.microsite %>" href="#survey" class="btn btn-black">
                <%= json.mainSurvey %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="survey" class="section section-form none">
      <div class="wrapper wrapper-center">
        <div class="col col-8">
          <div class="text-wrap">
            <h2 class="text-center">
              <%= json.formHeader %> 
            </h2>
            <p class="text-center">
              <%= json.formSubheader %> 
            </p>
          </div>
        </div>
        <div class="col col-8">
          <div class="text-wrap">
        <form class="form">
          <h4><%= json.formQuestionnaire %> </h4>
          <labe class="label-name">
            <input
            class="form-input"
            required
            id="name"
            autocomplete="off"
            type="text"
          />
            <span class="form-name">
             <%= json.formSurname %> 
            </span>
          </labe>
          <div class="form-inputs">
            <label class="label-name">
              <input
              class="form-input"
              required
              id="phone"
              type="text"
              autocomplete="off"
              minlength="17"
            />
            <span class="form-name">
              <%= json.formTel %> 
             </span>
            </label>
            <label class="label-name">
              <input
              class="form-input"
              required
              autocomplete="off"
              id="email"
              type="email"
              />
              <span class="form-name">
                <%= json.formEmail %> 
               </span>
            </label>
          </div>
          <label class="form-control form-checkboxWrapper">
            <input
              required
              type="checkbox"
              data-omni-type="microsite"
              class="form-checkbox checkbox"
            />
            <div class="option form-checkbox">
              <div class="option2 form-checkbox-text">
                Я ознакомлен и согласен с
                <a data-omni="<%= json.omni %>:goto:personaldata" data-omni-type="<%= json.microsite %>" href="https://www.samsung.com/kz_ru/info/privacy/#personal_data" class="form-form-rules"
                  >Правилами и условиями передачи персональных данных.</a
                >
              </div>
            </div>
          </label>
          <input type="hidden" data-locale="<%= json.locale %> ">
          <div class="btns">
            <button
            class="btn btn-black"
            data-omni-type="microtype"
            data-omni="<%= json.omni %>:submitform"
          >
            <%= json.formSend %> 
          </button>
          </div>
        </form>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-survey ">
      <div class="wrapper wrapper-center">
        <div class="col col-7">
          <div class="survey-wrapper"></div>
        </div>
      </div>
    </section>
    <div class="phone"></div>
  </body>
</html>
