<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://www.samsung.com/etc.clientlibs/samsung/clientlibs/consumer/global/clientlib-base.min.b2b46ed65d46ffd78b7dd408f6f1ed36.css"
    />
  </head>
  <body>
    <section class="section section-main">
      <div class="wrapper">
        <div class="col col-6">
          <div class="text-wrap text-padded">
            <h1 class="main-header"><%= json.mainHeader %></h1>
            <p class="main-subheader"><%= json.mainSubheader %></p>
            <div class="btns">
              <a data-omni="<%= json.omni %>:goto:survey" data-omni-type="<%= json.microsite %>" href="#survey" class="btn btn-black">
                <%= json.mainSurvey %>
              </a>
              <a data-omni="<%= json.omni %>:goto:rules" data-omni-type="<%= json.microsite %>" href="rules" class="btn btn-link btn-link-underline">
                <%= json.mainRules %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="survey" class="section section-form ">
      <div class="wrapper wrapper-center">
        <div class="col col-8">
          <div class="text-wrap">
            <h2 class="form-header">
              Пожалуйста, заполните ваши данные
            </h2>
            <p class="form-subheader">
              Ваши ответы очень важны для нас, чтобы мы могли и далее предоставлять вам первоклассный сервис
            </p>
          </div>
        </div>
        <form class="form-form">
          <h4 class="form-form-header">Анкета участника</h4>
          <input
            class="form-form-input"
            required
            id="name"
            type="text"
            placeholder="ФИО"
          />
          <div class="form-inputs">
            <input
              class="form-form-input"
              required
              id="phone"
              type="tel"
              placeholder="Телефон"
            />
            <input
              class="form-form-input"
              required
              id="email"
              type="email"
              placeholder="Email"
            />
          </div>
          <label class="form-control form-checkboxWrapper">
            <input
              required
              type="checkbox"
              data-omni-type="microsite"
              class="form-form-checkbox checkbox"
            />
            <div class="option form-checkbox">
              <div class="option2 form-checkbox-text">
                Я ознакомлен и согласен с
                <a href="rules" class="form-form-rules"
                  >Правилами и условиями передачи персональных данных.</a
                >
              </div>
            </div>
          </label>
          <button
            class="cta cta--contained cta--black form-form-btn"
            data-omni-type="microtype"
            data-omni="<%= json.omni %>:submitform"
          >
            Отправить
          </button>
        </form>
      </div>
    </section>
    <section class="section section-survey ">
      <div class="wrapper wrapper-center">
        <div class="col col-7">
          <div class="survey-wrapper none"></div>
        </div>
      </div>
    </section>
    <div class="phone"></div>
  </body>
</html>
